.logo {
    border: 5px solid white;
    height: 150px;

}


/* box sizing: http://www.paulirish.com/2012/box-sizing-border-box-ftw */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5 {
    font-family: "Poppins", sans-serif
}

body {
    font-size: 16px;
}

.w3-half img {
    margin-bottom: -6px;
    margin-top: 16px;
    opacity: 0.8;
    cursor: pointer
}

.w3-half img:hover {
    opacity: 1
}


.w3-ul ul {
    list-style-type: inline;
    padding: 0;
}

.w3-li li {
    border: 1px solid silver;
    margin: 0 0 15px 0;
    padding: 10px;
    background: silver;
}

img {
    display: block;
    alignment: left;
    max-height: 250px;
    max-width: 400px;
}

img#comicImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

fieldset {
    alignment: left;
}

.div-test {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    min-height: 500px;
    border: 1px solid silver;

}

section#main {
    max-width: 600px;
    width: 100%;
    margin: 20px;
    text-align: left;
}

/*----------------------------------------------------
Bootstrap overrides
-----------------------------------------------------*/
a:link, a:visited, a:active, a:hover {
    text-decoration: underline;
}

.btn {
    font-size: 1.5rem;
}

.alert {
    margin-top: 20px;
}

.errors ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/*----------------------------------------------------
Forms
-----------------------------------------------------*/
form {
    margin: 0 auto;
}

label {
    font-weight: bold;
    display: block;
    font-size: 1.4rem;
}

input[type='dropdown'], input[type='checkbox'] {
    margin-right: 0;
    /* Next two lines prevent misalignment with text */
    vertical-align: middle;
    margin-top: -3px;
}

fieldset {
    margin-bottom: 20px;
    background: silver;
}

input[type=text] {
    display: block;
    font-family: Consolas, Courier, monospace;
    margin: 0 auto;
}

.instructions {
    color: red;
    font-size: 10px;
    margin-bottom: 10px;
    border: 1px solid silver;
}

/*----------------------------------------------------
media
-----------------------------------------------------*/
input[name=userName] {
    width: 300px;
    margin: 0 auto;
}

ul {
    border-right: 1px solid #ffffff;
    width: 2600px;
    display: inline;
}

li {
    border: 1px solid silver;
    width: 200px;
    display: inline;
    list-style-type: none;
}

.author {
    font-style: italic;
}
